.minute-forecast-container {
  width: 690px;
  height: 320px;
  border-radius: 30px;
  margin-left: 50px;
  background: var(--mid-blue);
  overflow: hidden;
}

.precip-chart {
  width: 650px;
  height: 320px;
}

.chart-title {
  margin-left: 200px;
  color: var(--white-blue);
}
